<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin page</title>
</head>
<body>
    
    <a href="adminlog/request">patient request</a>
    <a href="adminlog/vp">view patients</a>
    <h1>this is admin file</h1>
    <section>
        <h1>admin file</h1>
        <div id="adminmain">
            <div class="adminbox">
                <img src="" alt="">

            </div>
        </div>
    </section>
</body>
</html>