<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <style>
      *{
        padding:0;
        margin:0;
      }
      body{
        height:100vh;
       background: url("../images/—Pngtree—blue\ flat\ medical\ technology\ banner_1036243.jpg") no-repeat;
       background-size: cover;
       }
       .loginbox{
        width:400px;
        height:450px;
        background-color: rgba(0,0,0,0.5);
        color:white;
        position:absolute;
        top:20%;
        left:60%;
        padding:10px 50px 40px 50px;
       }

       .center{
        text-align: center;
       }

       .loginbox p{
        margin-bottom: 2%;
        font-weight: bold;
       }


       .loginbox input{
        width:100%;
        margin-bottom: 20px;

       }
       .item{
        border:none;
        background: transparent;
        border-bottom: 1px solid #fff;
        height:40px;
        color:#fff;
       
        font-size: 16px;
       }

       .loginbox input[type="submit"]{
        border:none;
        margin-top: 15%;
        height:40px;
        background: red;
        color:#fff;
        font-size: 20px;
        border-radius: 20px;

       }
       .loginbox h3{
        margin-bottom: 15%;
       }
      
      
      
       
        
      
    </style>
</head>
<body>
  <h1 class="center">Admin login page </h1>
  <div class="loginbox">
      <form action="/adminlog" method="post">
          <h3 class="center">Admin Login</h2>
          <p>Admin </p>
          <input name="ainputname" class="item" type="text" placeholder="Enter Username">
          <p>password </p>
          <input name="apass" class="item" type="text" placeholder="password">
          <input type="submit" value=" LogIn">

      </form>

  </div>
  
    <!-- <section id="login">
        <h1>Admin login form</h1>
        <div id="lform">
            <form action="/adminlog" method="post">

                <div class="items">
                  <label for="exampleInputEmail1" class="form-label">Name</label><br>
                  <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="ainputname">  
                </div>

                <div class="items">
                  <label for="exampleInputPassword1" class="form-label">Password</label><br>
                  <input type="apassword"  name="apass" class="form-control" id="exampleInputPassword1">
                </div>

                
                <button type="submit" class="xyz">Sign In</button>

              </form>
            
        </div>
    </section> -->
    
</body>
</html>