<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #mainbox{
            display:flex;
            align-items: center;
            justify-content: space-around;
            border:2px solid red;
            background-color: rgb(249, 196, 177);
            width:900px;
            margin:15%;
        }
        #mainbox > img{
            height:450px;
            width:450px;
        }
        #mainbox #box form{
            width:350px;
        } 
       form > div.items>input{
        width:80%;
        padding:4px;
        margin:4px;
        font-size:1rem;
      }
      form>div.items>label{
        font-size: 1.5rem;
      }
      .btn{
        padding:10px 30px;
        margin:6px;
        border-radius: 19px;
        background-color: blue;
        color:white;
      }
       
    </style>
</head>
<body>
    <h1>doctor login form</h1>
    <form action="/doclog" method="post">
        <label for="doctorname:">Doctor Name:</label>
        <input type="text" name="dname">
        <input type="submit" value="search">

    </form>
    <!-- <section id="doclog">
        <h1>doctor login form</h1>
        <div id="mainbox">

            <img src="../images/newnew.png">

            <div id="box">
                <form>
                    <div class="items">
                        <label for="email">Email :</label><br>
                        <input type="email" name="dmail" placeholder="Enter Your Email">
                    </div>
                    <div class="items">
                        <label for="email">Password :</label><br>
                        <input type="password" name="dpass" placeholder="Password">
                    </div>
                    <input class="btn" type="submit" value="Sign In">

                </form>
            </div>
        </div>

    </section>
     -->

</body>
</html>