<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <section id="top">
        <ul>
            <li>+91 8908302711</li>
            <li>youremail@gmail.com</li>
            <div>
                <span><a href="/adminlog">Admin Login</a></span>
                <span><a href="/doclog">Doctor Login</a></span>
                <span><a href="/login">user Login</a></span>
            </div>
        </ul>

    </section>

    <navbar id="header">
        <div id="logo">
            <img src="./IMAGES/7413434.png" alt="error,,,">
        </div>

        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Department</a></li>
            <li><a href="#">Doctor</a></li>
            <li><a href="#">Contact</a></li>
            <a class="btn" href="/register">Appointment</a>
        </ul>

    </navbar>


    <section id="open">

        <div id="box">
            <h7 color="blue">WELCOME TO MEDIPLUS</h7>
            <h1>we are here<br>
                for your care</h1>
            <h5> Far far away, behind the word mountains, far from the countries<br> Vokalia and Consonantia, there live
                the blind texts. Separated<br>
                they live in Bookmarksgrove.</h5>
            <p>
                <a href="/register">make an appointment</a>
            </p>
        </div>



    </section>


    <section id="about">
        <div id="mainabout">



            <div id="aboutimg">
                <p>image is here</p>
            </div>
            <div id="aboutbox">
                <h1 class="center">We Are Mediplus A Medical Clinic</h1>
                <h5>A small river named Duden flows by their place and supplies it<br>
                    with the necessary regelialia. It is a paradisematic country, in<br>
                    which roasted parts of sentences fly into your mouth. It is a <br>paradisematic country, in which
                    roasted parts of sentences fly<br>
                    into your mouth.</h5>
                <p>
                    <span><a>Make an Appointment</a></span>

                </p>
            </div>
        </div>



    </section>

    <section id="services">
        <h1 class="h-primary center">Our Services</h1>

        <div id="mainbox">

            <div class="servicesbox">
                <img src="./IMAGES/ambulance.png">
                <h3 class="h-tertiary center">Emergecy Services</h3>
                <p class="center">A small river named Duden flows by their place and supplies it with the necessary
                    regelialia . Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae at quasi ab
                    repudiandae dolorum quae!</p>
            </div>
            <div class="servicesbox">
                <img src="./IMAGES/medical-team.png">
                <h3 class="h-tertiary center">Quialified Doctors</h3>
                <p class="center">A small river named Duden flows by their place and supplies it with the necessary
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea deleniti soluta consectetur pariatur
                    quam quia!regelialia </p>
            </div>
            <div class="servicesbox">
                <img src="./IMAGES/healthcare.png">
                <h3 class="h-tertiary center">Outdoor Checkups</h3>
                <p class="center">A small river named Duden flows by their Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Atque quidem voluptates exercitationem impedit saepe quis? place and supplies it
                    with the necessary regelialia</p>
            </div>

            <div class="servicesbox">
                <img src="./IMAGES/customer-service.png">
                <h5 class="h-tertiary center">24 Hours Services</h5>
                <p class="center">A small river named Duden flows Lorem ipsum, dolor sit amet consectetur adipisicing
                    elit. Ea, porro eaque. Maiores vitae in fugit. by their place and supplies it with the necessary
                    regelialia</p>
            </div>

        </div>
    </section>

    <section id="middle">
        <div id="mainmiddle">
            <h1 class="center"> Your Health is Our Priority</h1>

             <p class="center">
                        We can manage your dream building A small river named Duden flows by their place
             </p>
                    

        </div>
    </section>

    <section id="department">

        <div id="img">

        </div>


        <div id="maindept">

            <div class="deptbox">
                <img src="/IMAGES/stethoscope (2).png">
                <h5 class="h-tertiary center">Neurology</h5>
                <p class="center">Far far away, behind the word mountains</p>

            </div>
            <div class="deptbox">
                <img src="/IMAGES/stethoscope (2).png">
                <h5 class="h-tertiary center">Opthalmology</h5>
                <p class="center">Far far away, behind the word <br>mountains</p>

            </div>
            <div class="deptbox">
                <img src="/IMAGES/stethoscope (2).png">
                <h5 class="h-tertiary center">Neuclear Magnetic</h5>
                <p class="center">Far far away, behind the word<br> mountains</p>

            </div>
            <div class="deptbox">
                <img src="/IMAGES/stethoscope (2).png">
                <h5 class="h-tertiary center">cardiology</h5>
                <p class="center"> Far far away, behind the word mountains</p>

            </div>
            <div class="deptbox">
                <img src="/IMAGES/stethoscope (2).png">
                <h5 class="h-tertiary center">Surgical</h5>
                <p class="center">Far far away, behind the word<br> mountains</p>

            </div>
            <div class="deptbox">
                <img src="/IMAGES/stethoscope (2).png">
                <h5 class="h-tertiary center">Dermatology</h5>
                <p class="center">Far far away, behind the word<br> mountains</p>

            </div>
            <div class="deptbox">
                <img src="/IMAGES/stethoscope (2).png">
                <h5 class="h-tertiary center">x-ray</h5>
                <p class="center">Far far away, behind the word<br> mountains</p>

            </div>
            <div class="deptbox">
                <img src="/IMAGES/stethoscope (2).png">
                <h5 class="h-tertiary center">Dental</h5>
                <p class="center">Far far away, behind the word <br>mountains</p>

            </div>
            <div class="deptbox">
                <img src="/IMAGES/stethoscope (2).png">
                <h5 class="h-tertiary center">Traumatology</h5>
                <p class="center">Far far away, behind the word<br> mountains</p>

            </div>


        </div>



    </section>

    <img id="doctors" width="100%" src="/IMAGES/ss1.png">
    <img id="banner" width="100%" src="/IMAGES/ss2.png">

    <section id="contact">
        <h1 class="h-primary center">Contact Us</h1>
        <p class="center">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>

        <div id="maincontact">

            <div class="contactbox">
                <img src="/IMAGES/map.png">
                <h5 class="h-tertiary center">Address</h5>
                <p>Near Central TownHall<br>
                    ADM Square , Balasore</p>

            </div>
            <div class="contactbox">
                <img src="/IMAGES/user-interface.png">
                <h5 class="h-tertiary center">Mobile</h5>
                <p>8908302711</p>

            </div>
            <div class="contactbox">
                <img src="/IMAGES/telegram.png">
                <h5 class="h-tertiary center">Email</h5>
                <p>yours@email.com</p>

            </div>
            <div class="contactbox">
                <img src="/IMAGES/ux.png">
                <h5 class="h-tertiary center">website</h5>
                <p>mediplus.com</p>

            </div>

        </div>


    </section>






</body>

</html>