<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login form</title>
    <style>
       *{
        margin:0;
        padding:0;
        font-family: sans-serif;
       }
       body{
        height:100vh;
       background: url("../images/shutterstock_1668017158_2.jpg") no-repeat;
       background-size: cover;
       }
       .loginbox{
        width:250px;
        height:400px;
        background-color: rgba(0,0,0,0.6);
        color:white;
        position:absolute;
        top:20%;
        left:10%;
        padding:10px 50px 40px 50px;
       }

       .center{
        text-align: center;
       }

       .loginbox p{
        margin-bottom: 2%;
        font-weight: bold;
       }


       .loginbox input{
        width:100%;
        margin-bottom: 20px;

       }
       .item{
        border:none;
        background: transparent;
        border-bottom: 1px solid #fff;
        height:40px;
        color:#fff;
        font-size: 16px;
       }

       .loginbox input[type="submit"]{
        border:none;
        margin-top: 25%;
        height:40px;
        background: red;
        color:#fff;
        font-size: 18px;
        border-radius: 20px;

       }
       .loginbox h3{
        margin-bottom: 25%;
       }
    </style>
</head>

<body>
    <h1 class="center">User login page </h1>
    <div class="loginbox">
        <form action="/login" method="post">
            <h3 class="center">User Login</h2>
            <p>Username </p>
            <input name="inputname" class="item" type="text" placeholder="Enter Username">
            <p>password </p>
            <input name="pass" class="item" type="text" placeholder="password">
            <input type="submit" value="Sign In">

        </form>

    </div>
    
</body>
</html>